* {
    margin: 0;
    padding: 0;
}
.blockclock{
    width: 415px;
    margin-left: 31%;
}
.cifer{
    width: 415px;
    position: absolute;
    margin-left: 31%;
    z-index: 1;
}
.mayak{
    width: 415px;
    position: absolute;
    margin-left: 31%;
    animation: mayak 5s linear infinite;
    transform-origin: top;
}
@keyframes mayak{
    0% {
        transform: rotate(-2deg)
    }
    50% {
        transform: rotate(2deg)
    }
    100%{
        transform: rotate(-2deg)
    }
}
.maxs{
    width: 25px;
    position: absolute;
    margin-top: 15%;
    margin-left: 49.5%;
    z-index: 2;
    animation: shestirenka 22s linear infinite;
}
.meddium{
    width: 15px;
    position: absolute;
    margin-top: 15%;
    margin-left: 48.5%;
    z-index: 2;
    animation: shestirenka1 12s linear infinite;
}
@keyframes shestirenka1{
    0% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(-180deg)
    }
}
.mini{
    width: 10px;
    position: absolute;
    margin-top: 15.5%;
    margin-left: 47.8%;
    z-index: 2;
    animation: shestirenka 2s linear infinite;
}
@keyframes shestirenka{
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}
.clock::before {
    position: absolute;
    content: '';
    height: 35px;
    width: 2px;
    background: black;
    top: 32.3%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: clock 6s linear infinite;
    transform-origin: top;
    z-index: 3;
}

.clock::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 2px;
    background: black;
    top: 32.3%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: clock 72s linear infinite;
    transform-origin: top;
    z-index: 3;
    
}

@keyframes clock {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}
