body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: #e6eff6;
}
.shadow1{
    width: 400px;
    height: 200px;
    margin: 40px;
    border-radius: 5px;
    background-color: #ffada6;
}
.shadow1:hover{
    background-color: #f03838;
}
.shadow1 {
    position: relative; 
}
.shadow1:hover::before{
    box-shadow: 30px 23px 15px 20px #724747;
}
.shadow1:hover::after{
    box-shadow: 90px 23px 15px 20px #724747;
}
.shadow1:before {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 145px;
    top: 20px;
    left: 0;
    background-color: transparent;
 
    box-shadow: 30px 23px 10px 19px #b97474;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
.shadow1::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 145px;
    top: 5px;
    left: 80px;
    background-color: transparent;
 
    box-shadow: 90px 23px 10px 19px #b97474;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}
.shadow2{
    width: 400px;
    height: 200px;
    margin: 40px;
    border-radius: 5px;
    background-color: #f1e970;
}
.shadow2:hover{
    background-color: #f0a249;
}
.shadow2 {
    position: relative; 
}
.shadow2:hover::before{
    box-shadow: 40px 20px 20px 20px #8d5c33;
}
.shadow2:before {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 300px;
    height: 150px;
    top: 30px;
    left: 0;
    background-color: transparent;
 
    box-shadow: 40px 20px 15px 15px #af954e;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.shadow3{
    width: 400px;
    height: 200px;
    margin: 40px;
    border-radius: 5px;
    background-color: #72db75;
    box-shadow: 0px 25px 20px -12px #347e30,
                0px -20px 20px -12px #347e30;
}
.shadow3:hover{
    background-color: #3bc33f;
    box-shadow: 0px 35px 25px -15px #20531e,
                0px -30px 25px -15px #20531e;
}
.shadow4{
    width: 400px;
    height: 200px;
    margin: 40px;
    border-radius: 5px;
    background-color: #5ceece;
    box-shadow: -20px 0px 15px -12px #678e89,
                20px 0px 15px -12px #678e89;
}
.shadow4:hover{
    background-color: #00bbbb;
    box-shadow: -30px 0px 20px -18px #476d68,
                30px 0px 20px -18px #476d68;
}
p{
    width: 340px;
    height: 90px;
    margin-left: 25px;
    vertical-align: middle;
    padding-top: 60px;
    text-align: center;
    border: dashed 5px rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
p:hover{
    font-size: 22px;
}