body{
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 10px;
}
.budilnik1{width: 200px;
}
p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 210px;
}
.discount{color: rgb(184, 13, 184);}
.price{line-height: 2px;}
mark{
    padding: 2px 4px 2px 8px;
    background-color: rgb(184, 13, 184);
    color: rgb(255, 255, 255)
}
.serdce{font-size: 22px; color: grey;}
.name{font-family: serif;}
.text{color: grey;}
.star{line-height: 1px;}
.num{font-size: 14px;}
