input:checked + .k::after{
    margin-left: 143px;
    content: "";
    position: absolute;
    top: 147px;
    left: 8px;
    width: 233px;
    height: 142px;
    background-image: url('./картинки блюд/kar.jpg');
    background-size: 250px 142px;
}
input:checked + .f::after{
    margin-left: 141px;
    content: "";
    position: absolute;
    top: 148px;
    left: 243px;
    width: 233px;
    height: 142px;
    background-image: url('./картинки блюд/фуагра.jpeg');
    background-size: 250px 152px;
}
input:checked + .r::after{
    margin-left: 141px;
    content: "";
    position: absolute;
    top: 148px;
    left: 473px;
    width: 233px;
    height: 142px;
    background-image: url('./картинки блюд/ratatuy.jpg');
    background-size: 250px 152px;
}
input:checked + .c::after{
    margin-left: 141px;
    content: "";
    position: absolute;
    top: 148px;
    left: 705px;
    width: 233px;
    height: 142px;
    background-image: url('./картинки блюд/петух.jpg');
    background-size: 250px 152px;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-left: 150px;
    font-size: 24px;
    background-color: #2e418e;
}
h1{
    text-align: center;
    margin-left: -150px;
}
.menu{
    display: flex;
    flex-direction: row;
}
.img{width: 100px;
    height: 100px;
}
