<head>
    <style>
        body{
            background-color: darkseagreen;
        }
    </style>
</head>
<body>
    <svg width="20cm" height="50cm">
        <ellipse cx="110" cy="45" rx="30" ry="30" fill="black"></ellipse> //ушки
        <ellipse cx="250" cy="45" rx="30" ry="30" fill="black"></ellipse>
        <ellipse cx="110" cy="45" rx="15" ry="15" fill="#363636" stroke="#212121" stroke-width="5"></ellipse>
        <ellipse cx="250" cy="45" rx="15" ry="15" fill="#363636" stroke="#212121" stroke-width="5"></ellipse>
        <ellipse cx="180" cy="126" rx="90" ry="105" fill="white"></ellipse> //форма головы
        <ellipse cx="180" cy="145" rx="110" ry="80" fill="white"></ellipse>
        <ellipse cx="145" cy="105" rx="25" ry="27" fill="black"></ellipse> //пятна на глазах 
        <ellipse cx="220" cy="105" rx="25" ry="27" fill="black"></ellipse>
        <circle r="12" cx="145" cy="110" fill="white"></circle> // глаза
        <circle r="12" cx="220" cy="110" fill="white"></circle> 
        <ellipse cx="145" cy="105" rx="10" ry="12" fill="black"></ellipse> //зрачки
        <ellipse cx="220" cy="105" rx="10" ry="12" fill="black"></ellipse>
        <ellipse cx="145" cy="105" rx="10" ry="12" fill="none" stroke="#0fff83" stroke-width="3"></ellipse> //зрачки
        <ellipse cx="220" cy="105" rx="10" ry="12" fill="none" stroke="#0fff83" stroke-width="3"></ellipse>
        <circle r="4" cx="155" cy="100" fill="white"></circle> //Блики
        <circle r="4" cx="230" cy="100" fill="white"></circle>
        <circle r="2" cx="225" cy="105" fill="white"></circle>
        <circle r="2" cx="150" cy="105" fill="white"></circle>
        <rect x="0" y="0" width="30" height="8" rx="3" ry="3" fill="black" transform="rotate(-45) translate(-15,237)"></rect> //рот
        <rect x="210" y="115" width="30" height="8" rx="3" ry="3" fill="black" transform="rotate(45) translate(30,-133)"></rect>
        <ellipse cx="182" cy="150" rx="20" ry="15" fill="black"></ellipse> // нос
        <ellipse cx="185" cy="148" rx="15" ry="10" fill="#363636"></ellipse>
        <ellipse cx="189" cy="145" rx="7" ry="5" fill="grey"></ellipse>
        <rect x="110" y="85" width="27" height="8" rx="3" ry="3" fill="black" transform="rotate(-10)"></rect> //Брови
        <rect x="220" y="22" width="27" height="8" rx="3" ry="3" fill="black" transform="rotate(10)"></rect>
        <ellipse cx="110" cy="150" rx="20" ry="15" fill="#ffd1dc"></ellipse> //румянец
        <ellipse cx="255" cy="150" rx="20" ry="15" fill="#ffd1dc"></ellipse>
    </svg>

</body>