* {
    margin: 0;
    padding: 0;
}
.ocean1{
    width: 100%;
    height: 100%;
}
.ship2{
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 240px;
    margin-left: 50px;
    animation: ship 2s infinite linear;
}
.ship1{
    width: 250px;
    margin-left: 30px;
    position: absolute;
    filter: contrast(69%) opacity(89%) brightness(70%);
    animation: ship 3s infinite linear;
}
@keyframes ship{
    0%{
        top: 0;
        bottom: 0;
    }
    50%{
        top: 4px;
        bottom: 0;
    }
    100%{
        top: 0;
        bottom: 9px;
    }
}
.chayka{
    width: 120px;
    position: absolute;
    margin-top: 15px;
    margin-left: 340px;
    transform: scale(-1, 1);
    animation: chayka 24s linear infinite;
    filter: opacity(85%) contrast(87%);
}
@keyframes chayka{
    0% {
        left: 0;
        top: 0;
      }
    100% { 
        left: 445px; 
        top: 145px;
        width: 20px;
      }  
}
.chayka2{
    width: 80px;
    position: absolute;
    margin-top: 12px;
    margin-left: 840px;
    animation: chayka2 24s linear infinite;
    filter: opacity(80%) contrast(87%);
}
@keyframes chayka2{
    0% {
        right: 0;
        top: 0;
      }
    100% { 
        right: 180px; 
        top: 145px;
        width: 20px;
      }  
}
.cloud1{
    width: 250px;
    position: absolute;
    animation: clouds 24s linear infinite ;
    filter: opacity(85%) brightness(87%);
}
@keyframes clouds {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
.cloud2{
    width: 350px;
    z-index: 1;
    position: absolute;
    margin-left: 750px;
    animation: clouds2 24s linear infinite ;
    filter: opacity(95%);
}
@keyframes clouds2 {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-120px);
    }
}