body{
    background-image: url("wood-plant-1.jpg");
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    font-family: sans-serif;
    width: 40%;
    margin-left: 31.5%;
    margin-top: 2%;
    line-height: 1.8;
}
h1{
    font-size: 20px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.ror {
    -webkit-appearance: none;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
}
.ror::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #06aa0c;
}
fieldset{
    width: 420px;
    border-color: rgba(0, 0, 0, 0.76);
    margin-bottom: 5%;
}