div{
    margin-top: 45px;
    margin-left: 15px;
	width:220px;
	height:350px;
	border:2px solid rgb(255, 255, 255);
	border-radius: 5px;
	position: relative;
    background-color: white;
}
div:hover{
    margin-top: -10px;
}
.a::before{
	content:'A\2665';
	padding: 5px;
    color: red;
}
.a::after{
	content:'A\2665';
    color: red;
	position: absolute;
    margin-left: 150px;
    top: 82%;
	transform:rotate(180deg);
}
.a1::before{
    content: '\2665';
    color: red;
    font-size: 85px;
    margin-left: 85px;
}
.b{
    margin-left: 10px;
    width:220px;
	height:350px;
	border:2px solid rgb(255, 255, 255);
	border-radius:5px;
    background-color: white;
}
.b::before{
    content:'2\2660';
	padding:5px;
    color: black;
}
.b::after{
	content:'2\2660';
    color: black;
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
	transform: rotate(180deg);
}
.b1::before{
    content: '\2660';
    color: black;
    font-size: 85px;
    margin-left: 85px;
}
body{
    display: flex;
	font-size:50px;
    margin: 25px;
    background-color: green;
    background-image: url(./xx.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}
.c{
    margin-left: 10px;
    width:220px;
	height:350px;
	border:2px solid rgb(255, 255, 255);
	border-radius:5px;
    background-color: white;
}
.c::before{
    content:'Q\2660';
	padding:5px;
    color: black;
}
.c::after{
	content:'Q\2660';
    color: black;
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
	transform: rotate(180deg);
}
.c1::before{
    content: '\2660';
    color: black;
    font-size: 85px;
    margin-left: 85px;
}
.d{
    margin-left: 10px;
    width:220px;
	height:350px;
	border:2px solid rgb(255, 255, 255);
	border-radius:5px;
    background-color: white;
}
.d::before{
    content:'10\2666';
	padding:5px;
    color: rgb(255, 0, 0);
}
.d::after{
	content:'10\2666';
    color: rgb(255, 0, 0);
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
	transform: rotate(180deg);
}
.d1::before{
    content: '\2666';
    color: rgb(255, 0, 0);
    font-size: 85px;
    margin-left: 85px;
}
.e{
    margin-left: 10px;
    width:220px;
	height:350px;
	border:2px solid rgb(255, 255, 255);
	border-radius:5px;
    background-color: white;
}
.e::before{
    content:'A\2663';
	padding:5px;
    color: black;
}
.e::after{
	content:'A\2663';
    color: black;
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
	transform: rotate(180deg);
}
.e1::before{
    content: '\2663';
    color: black;
    font-size: 85px;
    margin-left: 85px;
}