
.flagi{
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}
.flag1{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background: linear-gradient(to right, #009b48 33%, #ffffff 33%, #ffffff 66%, #ff7900 66%);
}
.flag2{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background-image: linear-gradient(45deg, #ce1127 36%, transparent 36%, transparent 40%, #000000 40%, #000000 59%, transparent 59%, transparent 64%, #ce1127 64%);
}
.flag3{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background: linear-gradient(135deg, #009543 36%, #fcde4a 36%, #fcde4a 64%, #db241e 64%);
}
.flag4{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background: linear-gradient( #eb2839 25%, #1a206e 25%, #1a206e 50%, #ffd602 50%, #ffd602 75%, #00a551 75%);
}
.flag5{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background-image: linear-gradient(#439ed3 26%, transparent 26%, transparent 35%, #000000 35%, #000000 61%, transparent 61%, transparent 70%, #439ed3 70%);
}
.flag6{
    width: 272px;
    height: 154px;
    margin: 15px;
    border: solid 2px black;
    background-color: goldenrod;
	background-image: linear-gradient(to right, white 33%, transparent 33%),
                        linear-gradient(#fc3e32 50%, #017e3a 50%);
}
